.dashboard-page {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

    background: #ecf0f1;
    color: #666;

    /*
     * Base structure
     */


    /*
     * Global add-ons
     */

    .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }

    /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
    .navbar-fixed-top {
      border: 0;
    }

    /*
     * Sidebar
     */

    /* Hide for mobile, show later */
    .sidebar {

      .user-avatar {
      	margin: 10px 0 10px 0;
      }

      .brand {
      	padding-top: 15px;
      }

      display: none;

      color: #FFF;

      h2 {
      	font-weight: 300;
      	small {
      		color: rgba(255, 255, 255, 0.7);
      	}
      }
    }
    @media (min-width: 768px) {
      .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: lighten(@brand-primary, 0%); //#f5f5f5;
        border-right: 1px solid #eee;
      }
    }

    .nav > li > a:hover, .nav > li > a:focus {
    	background: darken(@brand-primary, 5%);
    }

    /* Sidebar navigation */
    .nav-sidebar {
      margin-right: -21px; /* 20px padding + 1px border */
      margin-bottom: 20px;
      margin-left: -20px;
      margin-top: 20px;
    }
    .nav-sidebar > li > a {
      color: #fff;
      padding-right: 20px;
      padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: darken(@brand-primary, 5%);
    }


    /*
     * Main content
     */

    .main {
      padding: 20px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: #FFF;
        margin-top: 20px;
      }
    }
    @media (min-width: 768px) {
      .main {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    .main .page-header {
      margin-top: 0;
    }


    /*
     * Placeholder dashboard ideas
     */

    .placeholders {
      margin-bottom: 30px;
      text-align: center;
    }
    .placeholders h4 {
      margin-bottom: 0;
    }
    .placeholder {
      margin-bottom: 20px;
    }
    .placeholder img {
      display: inline-block;
      border-radius: 50%;
    }


    .bg-fade {
      font-size: 500px;
      color: rgba(0,0,0,0.1);
      position: absolute;
      right: -100px;
      top: 200px;
    }

    .profile-card {
      background-color: #222222;
      margin-bottom: 20px;
          
    }
        
    .profile-pic {
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      max-width: 100px;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }

            
    .profile-info {
        color: #BDBDBD;
        padding: 25px;
        position: relative;
        margin-top: 15px;
    }
        
    .profile-info h2 {
      color: #E8E8E8;
      letter-spacing: 4px;
      padding-bottom: 12px;
    }
            
    .profile-info span {
      display: block;
      font-size: 12px;
      color: #4CB493;
      letter-spacing: 2px;
    }

    .profile-info a {
      color: #4CB493;
    }
    .profile-info i {
      padding: 15px 35px 0px 35px;
    }
        

    .profile-card:hover .profile-pic {
      transform: scale(1.1);
    }

    .profile-card:hover .profile-info hr  {
      opacity: 1;
    }
        
        
    /* Underline From Center */
    .hvr-underline-from-center {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden;
    }
    .hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 52%;
      right: 52%;
      bottom: 0;
      background: #FFFFFF;
      border-radius: 50%;
      height: 3px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
      left: 0;
      right: 0;
      height: 1px;
      background: #CECECE;
    }

}